/* index.html */
@media (max-width:1357px) {
    .item_right {
        width: 100%;
    }

    .item_left {
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width:1339px) {
    .news_title_items {
        justify-content: center;
        row-gap: 15px;
    }
}

@media (max-width:1200px) {
    .test_drive-block {
        flex-direction: column;
        align-items: center;
    }

    .preOrder-section-head {
        margin: 20px auto;
        justify-content: center;
    }
    .block_inputs{
        display: block;
    }
    .test_drive-left, .test_drive-right{
        width: 100%;
    }
}

@media (max-width:992px) {
    .lang_dropdown {
        padding-bottom: 0;
    }

    .d-flex {
        position: relative;
        text-align: center;
        justify-content: center;
        width: 20%;
    }

    .navbar-toggler-icon {
        background-image: none;
        width: 100%;
        height: 3px;
        background-color: white;
        display: flex;
        transition: .5s;
    }

    .contact_icon {
        background-color: #161718;
    }

    .navbar {
        --bs-navbar-brand-padding-y: none;
        --bs-navbar-toggler-padding-y: none;
    }

    .navbar-toggler,
    .navbar-toggler:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    .navbar-toggler {
        position: relative;
        height: 25px;
        width: 30px;
    }


    .navbar-toggler::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transition: 0.5s;
    }

    .navbar-toggler::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        background-color: #ffffff;
        transition: 0.5s;
    }

    .contact_toggler::before,
    .contact_toggler::after {
        background-color: #161718;
    }

    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        width: 0;
    }

    .navbar-toggler[aria-expanded="true"]::before {
        transform: rotate(45deg);
        top: 10px;
    }

    .navbar-toggler[aria-expanded="true"]::after {
        transform: rotate(-45deg);
        top: 10px;
    }

}

@media (max-width:910px) {
    .slide_bloc {
        top: 100px;
        left: 60px;
    }
    .form-radio{
        flex-direction: column;
        align-items: flex-start;
    }
    .group_inputs{
        flex-direction: column;
    }
}

@media (max-width:875px) {
    .image_size {
        flex-direction: column;
        align-items: center;
    }

    .interior_background img,
    .exterior_background img {
        width: 100%;
        height: fit-content;
    }

    .image_size {
        height: fit-content;
    }

    .interior1 {
        margin-top: 15px;
    }

    .interior1 a {
        width: 140px
    }
}

@media (max-width:820px) {
    .mobile_menu {
        display: flex;

    }

    .nav_list {
        position: fixed;
        flex-direction: column;
        top: -350%;
        right: -50px;
        align-items: center;
        row-gap: 15px;
        background-color: #ffffffe6;
        -webkit-backdrop-filter: blur(2.6041666667vw);
        backdrop-filter: blur(2.6041666667vw);
        height: 100%;
        width: 40%;
        padding: 55px 0;
        z-index: 4;
        transition: .5s;
    }

    .title {
        font-size: 25px;

    }

    .company_desc {
        font-size: 20px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }


    .nav_list.active {
        top: 0;
    }

    .me-auto,
    .lang_dropdown {
        margin-right: 0 !important;
        padding: 0;
    }

    .nav_list-item::before {
        top: 25px;
    }

    .header_link,
    .lang_dropdown,
    .navbar-nav .nav-link.show {
        color: #161718;
    }

    .brands_block.active,
    .about_company.active {
        top: 0;
    }

    .brands_block.active {
        position: fixed;
        z-index: 2;
    }

    .about_company {
        justify-content: center;
    }
}

@media (max-width:783px) {
    .btn-outline-success {
        font-size: 16px;
    }

    .color-circle,
    .color-circle1 {
        width: 35px;
        height: 35px;
    }

    .block_inputs,
    .group_inputs,
    .service_form {
        flex-direction: column;
    }

    .service_textarea {
        width: 100%;
    }
}

@media (max-width: 740px) {
    .about_company {
        padding: auto;
    }

    .title {
        line-height: 0;
    }

    .brands_list a {
        font-size: 16px;
    }
}

@media (max-width: 724px) {
    .footer_items {
        flex-direction: column;
        align-items: stretch;
    }

    .footer_links {
        padding-left: 0;
        margin: auto;
        text-align: center;
        margin-bottom: 15px;
    }
}

@media (max-width:700px) {
    .elementor-widget-container {
        border: 1px solid;
        overflow: scroll;
    }

    .download {
        width: 45%;
    }
}

@media (max-width: 675px) {

    .title {
        font-size: 20px;
    }

    .company_desc {
        font-size: 16px;
    }

    .brands_items {
        padding: 25px;
    }
}

@media (max-width: 650px) {
    .table td {
        font-size: 14px;
        text-align: center;
    }

}

@media (max-width: 597px) {

    .about_company {
        padding: 25px;
    }

    .brands {
        font-size: 17px;
    }

    .nav_list {
        width: 45%;
    }

    .swiper_btn {
        font-size: 14px;
    }

    .model_price {
        font-size: 16px;
    }

    .interior_title {
        font-size: 28px;
    }

    .pre_order-form {
        padding: 0px 0;
    }
}

@media (max-width:520px) {

    .navbar-brand {
        width: 150px;
    }

    .nevo_logo {
        width: 70px !important;
    }

    .deepal_logo {
        font-size: 20px;
    }

    .main_style-title {
        font-size: 25px;
    }

    .color-circle,
    .color-circle1 {
        width: 30px;
        height: 30px;
    }

    .images {
        column-gap: 10px;
    }

    .interior1 span {
        text-align: center;
    }

    .table td {
        font-size: 10px;
    }
}


@media (max-width: 480px) {
    .nav_logo {
        font-size: 20px;
    }

    .form-radio {
        flex-direction: column;
        gap: 20px;
    }

    .preOrder-section-head {
        margin-bottom: 5px;
    }

    .input_fields {
        margin-bottom: 10px;
    }

    .pre_order-form {
        padding: 10px 0;
    }

    .form_btn {
        margin: 30px auto;
    }


}

@media (max-width:445px) {

    .navbar-brand {
        width: 120px;
    }

    .nevo_logo {
        width: 60px !important;
    }

    .deepal_logo {
        font-size: 16px;
        letter-spacing: 4px;
    }

    .interior1 a {
        width: 85px;
    }

    .bottom_menu-items {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
}

@media (max-width: 400px) {

    .about_company {
        padding: 0;
    }

    .title {
        font-size: 18px;
    }

    .company_desc {
        font-size: 14px;
    }
}

@media (max-width: 390px) {
    .nav_logo {
        font-size: 16px;
    }

    .main_list-item-link {
        font-size: 16px;
    }

    .main_style-title {
        font-size: 20px;
    }

    .color-circle,
    .color-circle1 {
        width: 25px;
        height: 25px;
    }

    .images {
        column-gap: 5px;
    }

    .download {
        width: 90%;
        padding: 12px 5px;
    }
}

@media (max-width:350px) {

    .navbar-brand {
        width: 100px;
    }

    .nevo_logo {
        width: 45px !important;
    }

    .deepal_logo {
        font-size: 14px;
        letter-spacing: 2px;
    }
}